* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 18px;
}

body {
  margin: 2rem 10rem 0 10rem;
}
.logo {
  color: green;
}
.logo::before {
  content: "t";
  background: green;
  color: white;
  padding: 0 1rem;
  border-radius: 10%;
  margin-right: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  align-items: center;
}
nav > button {
  padding: 0.2rem 0.8rem;
  border: 3px solid green;
  border-radius: 14%;
  background: none;
  width: fit-content;
  height: fit-content;
}
nav > button:hover {
  cursor: pointer;
  background-color: green;
  color: white;
  transition: 0.4s;
  padding: 0.4rem 1rem;
}
.items > li {
  list-style: none;
}
.items {
  display: flex;
  gap: 4rem;
}
.nav-item:hover {
  cursor: pointer;
  color: green;
  transition: 0.5s;
}
.section-1 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10rem;
}
.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h1,
span {
  font-size: 58px;
}
.green {
  color: green;
}
.title {
  line-height: 1;
}
.left-side > h3 {
  border: 2px solid green;
  border-radius: 50%;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.grey {
  color: grey;
}
.left-side-button {
  display: flex;
  gap: 2rem;
}
.contact-me {
  background: green;
  border: none;
  padding: 1rem 1.8rem;
  border-radius: 10%;
  color: white;
}
.contact-me:hover {
  background: rgb(21, 170, 21);
  cursor: pointer;
  padding: 1.1rem 1.9rem;
  transition: 0.5s;
}
#view-portofolio {
  border: none;
  background: none;
}
#view-portofolio::after {
  content: "\2197";
  font-size: 20px;
  font-weight: 800;
  color: green;
  padding-left: 0.5rem;
}
#view-portofolio:hover {
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
  color: green;
}

.right-side {
  width: 50%;
  height: 550px;
  display: flex;
  justify-content: center;
  position: relative;
  /* border: 2px solid red; */
}
#img-container {
  z-index: 1;
  align-self: flex-end;
}

.square-1 {
  background: green;
  width: 28vw;
  height: 24vw;
  position: absolute;
  align-self: flex-end;
}

.square-2 {
  width: 30vw;
  height: 24vw;
  border: 4px solid black;
  position: absolute;
  left: -80px;
  top: 53px;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 12rem 0;
}

.big-and-green {
  color: green;
  font-size: 58px;
}

.border-right {
  padding-right: 4rem;
  border-right: 2px solid green;
}

.green-and-cercle {
  width: fit-content;
  padding: 0.5rem;
  color: green;
  border: 1px solid grey;
  border-radius: 50%;
  margin-bottom: 2rem;
}
#section-3 h1 {
  line-height: 0.9;
  margin: 2rem 0;
}

#section-3 {
  display: flex;
  margin: 4rem 0 12rem 0;
}
#section3-left-side {
  width: 50%;
}
#section3-right-side {
  width: 50%;
  display: grid;
}

.card {
  border: 1px solid grey;
  border-radius: 4%;
  box-shadow: 0px 20px 20px 0 rgb(113 118 113 / 25%);
  padding: 1rem;
}
.card-1 {
  grid-column-start: 1;
  grid-row-start: 1;
}
.card-2 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.card-3 {
  justify-self: right;
  grid-column-start: 2;
  grid-row-start: 2;
}

#section3-left-side > button {
  margin-top: 1rem;
}
i {
  color: green;
}
i:hover {
  cursor: pointer;
}
h2 {
  font-size: 22px;
  margin: 0.5rem 0;
}

#section-3 p {
  font-size: 12px;
}

.section-4-header h1 {
  line-height: 0.9;
  margin-bottom: 4rem;
}

.card-1 {
  border: 1px solid grey;
  width: 100%;
  /* padding: 1rem; */
}

.cards {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
}

.small-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.card > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem 0;
}

.item1 {
  grid-column: 1/1;
  grid-row: 1/2;
}
.others-item {
  grid-column: 2/2;
  grid-row: 1/2;
}

.others-item span {
  font-size: 14px;
  color: grey;
}

div.card-1 > p {
  font-size: 14px;
  color: grey;
  padding-bottom: 2rem;
}

.section-5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 1rem 1rem;
  margin-bottom: 12rem;
}
.ronded-and-grey {
  border-radius: 6%;
  border: 1px solid grey;
}
.item1 {
  grid-column: 1/2;
  grid-row: 1/1;
}
.item2 {
  grid-column: 2/4;
  grid-row: 1/1;
}
.item3 {
  grid-column: 1/2;
  grid-row: 2/2;
}
.item4 {
  grid-column: 2/4;
  grid-row: 2/2;
}
.item5 {
  grid-column: 1/4;
  grid-row: 3/3;
}
.item6 {
  grid-column: 3/4;
  grid-row: 4/4;
  /* width: fit-content; */
}
.section-5 > h1 ~ p {
  font-size: 14px;
  color: grey;
  padding-bottom: 2rem;
  line-height: 0px;
}

.section-5 > h1 {
  margin-bottom: 2rem;
}

.ronded-and-grey::placeholder {
  opacity: 0.4;
  padding-left: 1rem;
  text-transform: capitalize;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer > p {
  font-size: 14px;
  color: grey;
}
footer {
  margin-bottom: 2rem;
}
hr {
  border-width: 2px;
  margin-bottom: 1rem;
}
